article.next-launch-info-card {
  position: relative;
  z-index: 1;
  max-width: 82%;
  min-width: 450px;
  display: flex;
  padding: 15px;
  @include transparent-light-bg;

  h2, button {
    position: absolute;
  }

  h2 {
    color: $primary-dark;
  }

  h3 {
    color: $secondary-dark;
    margin: 5px 0;
  }

  p, a{
    margin: 5px;
  }

  button {
    right: 20px;
    padding: 0px 7px 3px 7px;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
    }
  }

  div {
    flex: 1;
    margin-top: 30px;
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
  }
}