article.category-info-container {
  height: 60vh;
  padding: 20px 20px 0 20px ;

  section {
    display: flex;
    width: 100%;
    height: 100%;
  }

  div {
    background-color: $secondary-light;
    padding: 20px;
  }

  div.details-side {
    display: flex;
    justify-content: center;
    flex-direction: column;

    p {
      margin: 10px;
      color: $secondary-dark;
      span {
        font-weight: bold;
        color: $primary-dark;
      }
    }

    p.description {
      text-indent: 40px;
      margin: 10px;
      font-size: 1.1rem;
      color: $primary-dark;
    }

    h3 {
      color: $secondary-dark;
    }

    a {
      text-decoration: none;
      @include link-style;
      width: 50%;
      margin: 2px auto;
      text-align: center;
      border-radius: 10px;
    }
  }

  div.image-side {
    text-align: center;
    @include flex-center;

    h2 {
      background-color: $primary-light;
      border-radius: 10px;
      color: $primary-dark;
      padding: 5px 0;
    }

    img {
      height: 90%;
      object-fit: contain;
    }
  }

  section.category-loading {
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $primary-dark;
    
    img {
      width: 50%;
    }
  }
}