article.category-info-container {
  height: 60vh;
  padding: 20px 20px 0 20px ;

  section {
    display: flex;
    width: 100%;
    height: 100%;
  }

  div {
    background-color: $secondary-light;
    padding: 20px;
  }

  div.image-side {
    text-align: center;
    @include flex-center;

    h2 {
      background-color: $primary-light;
      border-radius: 10px;
      color: $primary-dark;
      padding: 5px 0;
    }

    img {
      height: 90%;
      object-fit: contain;
    }
  }

  section.category-loading {
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $primary-dark;
    
    img {
      width: 50%;
    }
  }

  

  section.astronaut-info {
    p.bio {
      text-indent: 40px;
      margin: 10px;
      font-size: 1.1rem;
    }

    div.image-side {
      width: 40%;
    }

    div.details-side {
      width: 60%;
      overflow: scroll;
    }
  }

  section.rocket-info {
    div.image-side {
      width: 55%;
    }

    div.details-side {
      width: 45%;
    }
  }
}