@import url('https://fonts.googleapis.com/css?family=Rajdhani|Source+Sans+Pro&display=swap');

$font-source-sans: 'Source Sans Pro', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;
$font-rajdani: 'Rajdhani', sans-serif;

$primary-dark: hsl(259, 40%, 39%);
$secondary-dark: hsl(232, 73%, 78%);
$primary-light: hsl(251, 100%, 88%);
$secondary-light: hsl(303, 100%, 96%);