section.page-404 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 20;
  width: 100vw;
  background-color: $primary-dark;
  color: $secondary-light;

  h1 {
    font-size: 5rem;
    margin: 0;
  }

  div {
    position: relative;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;

    img {
      width: 100%;
    }

    h2 {
      position: absolute;
      font-size: 3rem;
    }
  }
}