article.rocket-card {
  display: flex;
  margin: 5px;
  background-color: $secondary-light;
  border-radius: 10px;
  padding: 10px;
  max-height: 100%;

  div.image-side {
    width: 60%;
    text-align: center;

    img {
      width: 90%;
      max-height: 90%;
      border-radius: 10px;
    }

    h3 {
      color: $primary-dark;
      padding: 5px;
    }
  }

  div {
    @include flex-center;
  }

  div.details-side {
    width: 40%;
    
    p span {
      color: $primary-dark;
    }

    p {
      color: $secondary-dark;
      margin: 5px;
    }

    button {
      @include category-info-btn;
      width: 60px;
    }
  }
}

section.rocket-info {
  div.image-side {
    width: 55%;
  }

  div.details-side {
    width: 45%;
  }
}