section.countdown-timer {
  display: flex;
  position: relative;
  z-index: 1;
  width: 60%;
  margin: 30px auto;
  text-align: center;
  padding: 10px;
  font-family: $font-rajdani;
  transform: scaleY(1.2);
  
  div {
    flex: 3;

    p {
      font-size: 4rem;
    }

    span {
      font-weight: bold;
    }
  }

  span.colon {
    flex: 1;
    font-size: 4rem;
  }
}