section.next-launch-container {
  position: relative;
  height: 65vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  article.upcoming-launch-card {
    z-index: 1;
    position: relative;
    margin: 0 auto;
    width: 350px;
    background-color: hsla(303, 100%, 96%, .85);
    border-radius: 20px;
    text-align: center;

    h3 {
      width: 55%;
      margin: auto;
      border-bottom: 2px solid $secondary-dark;
      padding: 10px 0;
      color: $secondary-dark;
    }

    h2 {
      margin: 10px;
      color: $primary-dark;
    }

    p {
      color: $primary-dark;
      margin: 10px;
      span {
        color: $secondary-dark;
      }
    }

    button {
      @include more-info-btn;
      margin-bottom: 10px;
    }
  }

  article.next-launch-info-card {
    margin: 0 auto;
  }

  img {
    position: absolute;
    top: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}