section.next-launches-container {
  height: 100vh;

  h3.next-launches-title {
    background-color: $primary-light;
    padding: 5px;
    margin-bottom: 6px;
    border-top: 1px solid white;
    text-align: center;
  }

  div.card-container {
    display: flex;
    max-width: 82vw;
    white-space: nowrap;
    overflow: scroll;
    height: 31vh;
  }
}