article.event-card {
  padding: 10px;
  border-bottom: 2px solid $primary-light;
  position: relative;

  h3 {
    margin: 5px 0;
    color: $primary-dark;
  }

  p {
    margin: 5px;
    color: $secondary-dark;

    span {
      padding: 0 5px;
      color: $primary-dark;
      border-radius: 5px;
    }
  }

  div.news-detailed {
    position: absolute;
    width: 100%;
    padding: 10px;
    background-color: $secondary-light;
    border: 2px solid #fff;
    z-index: 10;
    right: -100%;
    top: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: $primary-dark;
    @include opacity-animation;

    p {
      color: $primary-dark;
      text-indent: 30px;
    }

    img {
      width: 100%;
    }

    a {
      width: 100%;
      background-color: $primary-dark;
      color: $secondary-light;
      margin: 2px;
      padding: 4px;
    }
  }

  div.news-details {
    width: 90%;
    margin: auto;
    position: relative;
    z-index: 10;
  }
  
  &:hover {
    background-color: #fff;
  }
}