article.event-card {
  padding: 10px;
  border-bottom: 2px solid $primary-light;
  position: relative;

  h3 {
    margin: 5px 0;
    color: $primary-dark;
  }

  p {
    margin: 5px;
    color: $secondary-dark;

    span {
      padding: 0 5px;
      color: $primary-dark;
      border-radius: 5px;
    }
  }

  div.news-details {
    position: absolute;
    z-index: 10;
    right: -100%;
    top: 0;
  }
  
}