* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: $font-source-sans;
}

main {
  display: flex;

  aside {
    width: 20vw;
  }

  section.next-launches-container {
    width: 80vw;
  }

  section.category-section {
    width: 80vw;
  }

}


div.app-loading {
  height: 100vh;
  width: 100vw;
  text-align: center;

  img {
    width: 200px;

  }
  h2 {
    color: $secondary-dark;
  }
}