* {
  box-sizing: border-box;
  margin: 0;
  border: .5px dashed black;
}

body {
  margin: 0;
  font-family: $font-source-sans;
}

main {
  display: flex;

  aside {
    flex: 1
  }

  section.next-launches-container {
    flex: 3.5;
  }

  section.category-section {
    flex: 3.5;
  }

}