div.menu-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  margin: 10px;
  font-size: 1.1rem;
  border-radius: 15px;
  background-color: $primary-dark;
  padding: 5px 10px;
  text-align: center;
  min-width: 170px;
  

  nav {
    display: flex;
    flex-direction: column;
    color: $secondary-light;
    padding-bottom: 10px;

    .is-active {
      background-color: $secondary-dark;
      color: $secondary-dark;
    }
    
    span {
      display: block;
      transition: all 100ms ease-in-out;

      &:hover {
        color: $primary-light;
        transform: scale(1.2);        
      }
    }
  }

  p {
    color: $secondary-light
  }

  p.hovered {
    padding-bottom: 5px;
    border-bottom: 1px solid $primary-light;
    color: $primary-light;
  }

}