article.astronaut-card {
  @include transparent-light-bg;
  display: flex;
  margin: 10px;
  padding: 20px;
  
  div.image-side {
    display: flex;
    flex-direction: column;

    button {
      @include category-info-btn;
    }
  }

  div.details-side {
    padding: 5px 10px;

    p {
      margin: 5px 0;
    }
  }

  img {
    width: 100px;
    border-radius: 50%;
  }
}