section.category-section {
  div.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    height: 40vh;

    h3.sticky-title {
      position: sticky;
      top: 0;
      width: 100%;
      padding: 2px;
      font-size: 1.2rem;
      text-align: center;
      background-color: $secondary-dark;
      color: $primary-dark;
    }
  }

}