section.category-section {
  
  div.card-container {
    display: grid;
    grid-gap: 1%;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) ;
    overflow: scroll;
    height: 37vh;
  }

  h3.sticky-title {
    width: 100%;
    padding: 2px;
    font-size: 1.2rem;
    text-align: center;
    background-color: $secondary-dark;
    color: $primary-dark;
  }
}